In [5]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

In [6]:
df_users = pd.read_csv("C:/Code/defi-credit-score/datasets/user_data.csv")

In [7]:
df_users

,count_deposit,count_borrow,count_repay,count_withdraw,count_liquidation,avg_deposit,avg_borrow,avg_repay,avg_withdraw,withdraw_to_depo,borrow_to_deposit,repay_to_borrow
0,1,0,0,0,0,1987.661667,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
1,1,0,0,0,0,285.694195,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
2,2,0,0,0,0,0.002576,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
3,0,0,0,17,0,0.000000,0.000000,0.000000,115.336637,1.960723e+09,0.000000,0.000000
4,250,15,4,130,0,3701.962773,8690.383071,17537.561563,6338.750550,8.903791e-01,0.140850,0.538145
...,...,...,...,...,...,...,...,...,...,...,...,...
3492,1,0,0,0,0,0.000099,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
3493,4,1,0,2,0,5.660717,2.330733,0.000000,8.023082,7.086631e-01,0.102935,0.000000
3494,1,0,0,4,0,35309.730934,0.000000,0.000000,17646.593608,1.999061e+00,0.000000,0.000000
3495,13,2,2,5,0,524.095419,601.108680,99.948030,162.529952,1.192751e-01,0.176453,0.166273
3496,53,48,36,46,0,9667.210627,21677.333636,21117.981660,18183.400524,1.632510e+00,1.462035,0.730647

#### Calculating variance inflation factor VIF

In [8]:
from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant
import pandas as pd

X = df_users.copy()

X = X.select_dtypes(include=["number"])


X_const = add_constant(X)

# Calculating VIF for each feature
vif_data = pd.DataFrame()
vif_data["Feature"] = X_const.columns
vif_data["VIF"] = [variance_inflation_factor(X_const.values, i) for i in range(X_const.shape[1])]

print(vif_data.sort_values("VIF", ascending=False))

              Feature       VIF
2        count_borrow  5.026272
8           avg_repay  4.776892
9        avg_withdraw  4.351798
3         count_repay  3.791582
7          avg_borrow  3.645779
1       count_deposit  2.671546
6         avg_deposit  2.620462
11  borrow_to_deposit  1.966275
12    repay_to_borrow  1.767090
0               const  1.646410
10   withdraw_to_depo  1.166182
5   count_liquidation  1.038647
4      count_withdraw  1.018902

#### Feature Scaling

In [9]:
df_users.columns

Index(['count_deposit', 'count_borrow', 'count_repay', 'count_withdraw',
       'count_liquidation', 'avg_deposit', 'avg_borrow', 'avg_repay',
       'avg_withdraw', 'withdraw_to_depo', 'borrow_to_deposit',
       'repay_to_borrow'],
      dtype='object')

In [10]:
from sklearn.model_selection import train_test_split
X_train, X_test = train_test_split(df_users, test_size=0.2)

In [11]:
X_train.head()

,count_deposit,count_borrow,count_repay,count_withdraw,count_liquidation,avg_deposit,avg_borrow,avg_repay,avg_withdraw,withdraw_to_depo,borrow_to_deposit,repay_to_borrow
53,7,6,3,9,0,4498.394215,2933.996031,5855.457131,5178.841353,1.480197,0.559056,0.997864
2239,2,0,0,0,0,1.015408,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1209,1,1,1,2,0,27.382664,0.000059,0.000059,16.386729,1.196868,0.000002,0.983346
1951,1,0,0,0,0,1.046637,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
717,19,28,7,7,0,427.560020,241.135914,592.912266,565.546172,0.487321,0.831131,0.614708

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols_to_scale = X_train.columns
X_train[cols_to_scale] = scaler.fit_transform(X_train[cols_to_scale])
X_test[cols_to_scale] = scaler.transform(X_test[cols_to_scale])

In [13]:
cols_to_scale

Index(['count_deposit', 'count_borrow', 'count_repay', 'count_withdraw',
       'count_liquidation', 'avg_deposit', 'avg_borrow', 'avg_repay',
       'avg_withdraw', 'withdraw_to_depo', 'borrow_to_deposit',
       'repay_to_borrow'],
      dtype='object')

In [14]:
X_train.head()

,count_deposit,count_borrow,count_repay,count_withdraw,count_liquidation,avg_deposit,avg_borrow,avg_repay,avg_withdraw,withdraw_to_depo,borrow_to_deposit,repay_to_borrow
53,0.013699,0.030,0.010309,0.000631,0.0,1.723101e-03,1.006672e-03,1.622790e-03,0.001355,1.249916e-10,0.382382,0.938287
2239,0.003914,0.000,0.000000,0.000000,0.0,3.889501e-07,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
1209,0.001957,0.005,0.003436,0.000140,0.0,1.048887e-05,2.025926e-11,1.636427e-11,0.000004,1.010666e-10,0.000001,0.924636
1951,0.001957,0.000,0.000000,0.000000,0.0,4.009121e-07,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,0.000000,0.000000
717,0.037182,0.140,0.024055,0.000491,0.0,1.637760e-04,8.273521e-05,1.643206e-04,0.000148,4.115064e-11,0.568475,0.578007

In [15]:
X_train.describe()

,count_deposit,count_borrow,count_repay,count_withdraw,count_liquidation,avg_deposit,avg_borrow,avg_repay,avg_withdraw,withdraw_to_depo,borrow_to_deposit,repay_to_borrow
count,2797.000000,2797.000000,2797.000000,2797.000000,2797.000000,2.797000e+03,2797.000000,2797.000000,2797.000000,2.797000e+03,2797.000000,2797.000000
mean,0.020862,0.023876,0.012024,0.000677,0.002874,3.266044e-03,0.002531,0.002048,0.003651,2.609554e-02,0.157312,0.258527
std,0.057610,0.073262,0.046110,0.018927,0.028631,3.604228e-02,0.031863,0.028555,0.034783,1.491740e-01,0.232395,0.393332
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,0.001957,0.000000,0.000000,0.000000,0.000000,3.880688e-07,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
50%,0.003914,0.000000,0.000000,0.000000,0.000000,5.719297e-06,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
75%,0.011742,0.010000,0.006873,0.000210,0.000000,2.875218e-04,0.000093,0.000036,0.000248,8.384248e-11,0.280296,0.630340
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000

In [16]:
X_train = X_train.reset_index()
X_test = X_test.reset_index()

In [17]:
X_train.describe()

,index,count_deposit,count_borrow,count_repay,count_withdraw,count_liquidation,avg_deposit,avg_borrow,avg_repay,avg_withdraw,withdraw_to_depo,borrow_to_deposit,repay_to_borrow
count,2797.000000,2797.000000,2797.000000,2797.000000,2797.000000,2797.000000,2.797000e+03,2797.000000,2797.000000,2797.000000,2.797000e+03,2797.000000,2797.000000
mean,1754.486235,0.020862,0.023876,0.012024,0.000677,0.002874,3.266044e-03,0.002531,0.002048,0.003651,2.609554e-02,0.157312,0.258527
std,1009.731418,0.057610,0.073262,0.046110,0.018927,0.028631,3.604228e-02,0.031863,0.028555,0.034783,1.491740e-01,0.232395,0.393332
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,885.000000,0.001957,0.000000,0.000000,0.000000,0.000000,3.880688e-07,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
50%,1756.000000,0.003914,0.000000,0.000000,0.000000,0.000000,5.719297e-06,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000
75%,2627.000000,0.011742,0.010000,0.006873,0.000210,0.000000,2.875218e-04,0.000093,0.000036,0.000248,8.384248e-11,0.280296,0.630340
max,3496.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000,1.000000,1.000000e+00,1.000000,1.000000

In [18]:
X_train.to_csv("C:\\Code\\defi-credit-score\\datasets\\train_data.csv", index=False)
X_test.to_csv("C:\\Code\\defi-credit-score\\datasets\\test_data.csv", index=False)

In [19]:
cols_to_scale = cols_to_scale.to_list()

In [20]:
# from joblib import dump
# scaler_dict = {
#     "scaler":scaler,
#     "columns":cols_to_scale
# }

In [21]:
# dump(scaler_dict, "artifacts/scaler.joblib")